/*************************** Check and Radio buttons * */
row label.subtitle { font-size: smaller; opacity: 0.55; text-shadow: none; }

row > box.header { margin-left: 12px; margin-right: 12px; min-height: 50px; }

row > box.header > box.title { margin-top: 8px; margin-bottom: 8px; }

row.expander { background-color: transparent; }

row.expander list.nested > row { background-color: alpha(#f6f5f4, 0.5); border-color: alpha(#cdc7c2, 0.7); border-style: solid; border-width: 1px 0px 0px 0px; }

row.expander image.expander-row-arrow { transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

row.expander:checked image.expander-row-arrow { -gtk-icon-transform: rotate(0turn); }

row.expander:not(:checked) image.expander-row-arrow { opacity: 0.55; text-shadow: none; }

row.expander:not(:checked) image.expander-row-arrow:dir(ltr) { -gtk-icon-transform: rotate(-0.25turn); }

row.expander:not(:checked) image.expander-row-arrow:dir(rtl) { -gtk-icon-transform: rotate(0.25turn); }

row.expander:checked image.expander-row-arrow:not(:disabled) { color: #3584e4; }

row.expander image.expander-row-arrow:disabled { color: #929595; }

preferencespage label.h4 { font-weight: bold; }

deck > dimming, leaflet > dimming { background: rgba(0, 0, 0, 0.12); }

deck > border, leaflet > border { min-width: 1px; min-height: 1px; background: rgba(0, 0, 0, 0.05); }

deck > shadow, leaflet > shadow { min-width: 56px; min-height: 56px; }

deck > shadow.left, leaflet > shadow.left { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01) 40px, rgba(0, 0, 0, 0) 56px), linear-gradient(to right, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.01) 7px, rgba(0, 0, 0, 0) 24px); }

deck > shadow.right, leaflet > shadow.right { background-image: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01) 40px, rgba(0, 0, 0, 0) 56px), linear-gradient(to left, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.01) 7px, rgba(0, 0, 0, 0) 24px); }

deck > shadow.up, leaflet > shadow.up { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01) 40px, rgba(0, 0, 0, 0) 56px), linear-gradient(to bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.01) 7px, rgba(0, 0, 0, 0) 24px); }

deck > shadow.down, leaflet > shadow.down { background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.01) 40px, rgba(0, 0, 0, 0) 56px), linear-gradient(to top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.01) 7px, rgba(0, 0, 0, 0) 24px); }

avatar { border-radius: 9999px; -gtk-outline-radius: 9999px; font-weight: bold; }

avatar.color1 { background-image: linear-gradient(#ffbe6f, #ed6f00); color: #ffe5c5; }

avatar.color2 { background-image: linear-gradient(#f8e45c, #e5a50a); color: #f9f4e1; }

avatar.color3 { background-image: linear-gradient(#dc8add, #8a3ea3); color: #e7c2e8; }

avatar.color4 { background-image: linear-gradient(#99c1f1, #337fdc); color: #cfe1f5; }

avatar.color5 { background-image: linear-gradient(#c0bfbc, #6e6d71); color: #d8d7d3; }

avatar.color6 { background-image: linear-gradient(#8de6ae, #29ae71); color: #cbf7d5; }

avatar.color7 { background-image: linear-gradient(#f67365, #d91a23); color: #f6c8c4; }

avatar.color8 { background-image: linear-gradient(#cdab8f, #865d3c); color: #e5d6ca; }

avatar.contrasted { color: #fff; }

/*************************** Check and Radio buttons * */
popover.combo list { min-width: 200px; }

window.csd.unified:not(.solid-csd), window.csd.unified:not(.solid-csd) headerbar { border-radius: 0; }

.windowhandle, .windowhandle * { -GtkWidget-window-dragging: true; }

popover.combo { padding: 0px; }

popover.combo list { border-style: none; background-color: transparent; }

popover.combo list > row { padding: 0px 12px 0px 12px; min-height: 50px; }

popover.combo list > row:not(:last-child) { border-bottom: 1px solid alpha(#cdc7c2, 0.5); }

popover.combo list > row:first-child { border-top-left-radius: 8px; -gtk-outline-top-left-radius: 7px; border-top-right-radius: 8px; -gtk-outline-top-right-radius: 7px; }

popover.combo list > row:last-child { border-bottom-left-radius: 8px; -gtk-outline-bottom-left-radius: 7px; border-bottom-right-radius: 8px; -gtk-outline-bottom-right-radius: 7px; }

popover.combo overshoot.top { border-top-left-radius: 8px; -gtk-outline-top-left-radius: 7px; border-top-right-radius: 8px; -gtk-outline-top-right-radius: 7px; }

popover.combo overshoot.bottom { border-bottom-left-radius: 8px; -gtk-outline-bottom-left-radius: 7px; border-bottom-right-radius: 8px; -gtk-outline-bottom-right-radius: 7px; }

popover.combo scrollbar.vertical { padding-top: 2px; padding-bottom: 2px; }

popover.combo scrollbar.vertical:dir(ltr) { border-top-right-radius: 8px; -gtk-outline-top-right-radius: 7px; border-bottom-right-radius: 8px; -gtk-outline-bottom-right-radius: 7px; }

popover.combo scrollbar.vertical:dir(rtl) { border-top-left-radius: 8px; -gtk-outline-top-left-radius: 7px; border-bottom-left-radius: 8px; -gtk-outline-bottom-left-radius: 7px; }

row.expander { padding: 0px; }

keypad .digit { font-size: 200%; font-weight: bold; }

keypad .letters { font-size: 70%; }

keypad .symbol { font-size: 160%; }

viewswitcher, viewswitcher button { margin: 0; padding: 0; }

viewswitcher button { border-radius: 0; border-top: 0; border-bottom: 0; box-shadow: none; font-size: 1rem; }

viewswitcher button:not(:checked):not(:hover) { background: transparent; }

viewswitcher button:not(:only-child):not(:last-child) { border-right-width: 0px; }

viewswitcher button:not(only-child):first-child:not(:checked):not(:hover), viewswitcher button:not(:checked):not(:hover) + button:not(:checked):not(:hover) { border-left-color: transparent; }

viewswitcher button:not(only-child):last-child:not(:checked):not(:hover) { border-right-color: transparent; }

viewswitcher button:not(:checked):hover:not(:backdrop) { background-image: image(lighter(#f6f5f4)); }

viewswitcher button:not(only-child):first-child:not(:checked):hover, viewswitcher button:not(:checked):hover + button:not(:checked):not(:hover), viewswitcher button:not(:checked):not(:hover) + button:not(:checked):hover { border-left-color: shade(#cdc7c2, 1.15); }

viewswitcher button:not(only-child):last-child:not(:checked):hover { border-right-color: shade(#cdc7c2, 1.15); }

viewswitcher button:not(:checked):hover:backdrop { background-image: image(#f6f5f4); }

headerbar viewswitcher button:not(:checked):hover:not(:backdrop) { background-image: linear-gradient(to top, shade(alpha(#f6f5f4, 0.7), 0.96) 2px, alpha(#f6f5f4, 0.7)); }

headerbar viewswitcher button:not(:checked):not(only-child):first-child:hover, headerbar viewswitcher button:not(:checked):hover + button:not(:checked):not(:hover), headerbar viewswitcher button:not(:checked):not(:hover) + button:not(:checked):hover { border-left-color: #cdc7c2; }

headerbar viewswitcher button:not(:checked):not(only-child):last-child:hover { border-right-color: #cdc7c2; }

headerbar viewswitcher button:not(:checked):hover:backdrop { background-image: image(#f6f5f4); }

viewswitcher button > stack > box.narrow { font-size: 0.75rem; padding-top: 7px; padding-bottom: 5px; }

viewswitcher button > stack > box.narrow image, viewswitcher button > stack > box.narrow label { padding-left: 8px; padding-right: 8px; }

viewswitcher button > stack > box.wide { padding: 8px 12px; }

viewswitcher button > stack > box.wide label:dir(ltr) { padding-right: 7px; }

viewswitcher button > stack > box.wide label:dir(rtl) { padding-left: 7px; }

viewswitcher button > stack > box label.active { font-weight: bold; }

viewswitcher button.needs-attention:active > stack > box label, viewswitcher button.needs-attention:checked > stack > box label { animation: none; background-image: none; }

viewswitcher button.needs-attention > stack > box label { animation: needs_attention 150ms ease-in; background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(#3584e4), to(transparent)), -gtk-gradient(radial, center center, 0, center center, 0.5, to(rgba(255, 255, 255, 0.769231)), to(transparent)); background-size: 6px 6px, 6px 6px; background-repeat: no-repeat; background-position: right 0px, right 1px; }

viewswitcher button.needs-attention > stack > box label:backdrop { background-size: 6px 6px, 0 0; }

viewswitcher button.needs-attention > stack > box label:dir(rtl) { background-position: left 0px, left 1px; }

viewswitcherbar actionbar > revealer > box { padding: 0; }

list.preferences, list.preferences list { background-color: transparent; }

list.preferences list.nested > row:not(:active):not(:hover):not(:selected), list.preferences list.nested > row:not(:active):hover:not(.activatable):not(:selected) { background-color: mix(#f6f5f4, #ffffff, 0.5); }

list.preferences list.nested > row:not(:active):hover.activatable:not(:selected) { background-color: mix(#2e3436, #ffffff, 0.95); }

list.preferences > row:not(.expander):not(:active):not(:hover):not(:selected), list.preferences > row:not(.expander):not(:active):hover:not(.activatable):not(:selected), list.preferences > row.expander row.header:not(:active):not(:hover):not(:selected), list.preferences > row.expander row.header:not(:active):hover:not(.activatable):not(:selected) { background-color: #ffffff; }

list.preferences > row:not(.expander):not(:active):hover.activatable:not(:selected), list.preferences > row.expander row.header:not(:active):hover.activatable:not(:selected) { background-color: mix(#2e3436, #ffffff, 0.95); }

list.preferences > row, list.preferences > row list > row { border-color: alpha(#cdc7c2, 0.7); border-style: solid; transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

list.preferences > row:not(:last-child) { border-width: 1px 1px 0px 1px; }

list.preferences > row:first-child, list.preferences > row.expander:first-child row.header, list.preferences > row.expander:checked, list.preferences > row.expander:checked row.header, list.preferences > row.expander:checked + row, list.preferences > row.expander:checked + row.expander row.header { border-top-left-radius: 8px; -gtk-outline-top-left-radius: 7px; border-top-right-radius: 8px; -gtk-outline-top-right-radius: 7px; }

list.preferences > row:last-child, list.preferences > row.checked-expander-row-previous-sibling, list.preferences > row.expander:checked { border-width: 1px; }

list.preferences > row:last-child, list.preferences > row.checked-expander-row-previous-sibling, list.preferences > row.expander:checked, list.preferences > row.expander:not(:checked):last-child row.header, list.preferences > row.expander:not(:checked).checked-expander-row-previous-sibling row.header, list.preferences > row.expander.empty:checked row.header, list.preferences > row.expander list.nested > row:last-child { border-bottom-left-radius: 8px; -gtk-outline-bottom-left-radius: 7px; border-bottom-right-radius: 8px; -gtk-outline-bottom-right-radius: 7px; }

list.preferences > row.expander:checked:not(:first-child), list.preferences > row.expander:checked + row { margin-top: 6px; }

button.list-button:not(:active):not(:checked):not(:hover) { background: none; border: 1px solid alpha(#cdc7c2, 0.5); box-shadow: none; }

window.csd.unified:not(.solid-csd):not(.fullscreen) headerbar { box-shadow: none; }

window.csd.unified:not(.solid-csd):not(.fullscreen) > decoration-overlay { box-shadow: inset 0 1px rgba(255, 255, 255, 0.8); }

window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized) > decoration, window.csd.unified:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized) > decoration-overlay { border-radius: 8px; }
